{% extends "base.html" %}

{% block title %}List of Favs{% endblock title %}

{% block content %}
<br>
<form action="{% url 'favorite-restaurant' %}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="q" value="{{request.GET.q}}">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </div>
</form>
<div class="row">

    {% for restaurant in my_fav %}
    <div class="col-md-4">
        <div class="card my-card">
          {% if restaurant.logo %}
            <img class="card-img-top" src="{{restaurant.logo.url}}" alt="Hey Noob, look at me...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{restaurant.name}}</h5>
            <p class="card-text">{{restaurant.description|truncatechars:25}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'restaurant-detail' restaurant.id %}" class="btn btn-outline-dark">View</a>
                <button class="btn btn-light"><i id="like-{{restaurant.id}}" onclick="like({{restaurant.id}})" class="far fa-heart {% if restaurant in restaurant_likes %}text-danger{% endif %} "></i></button>
            </li>
          </ul>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    function like(id){
      var heart = "#like-"+id;


      $.ajax({
        type: "GET",
        url: "/restaurants/"+ id +"/favorite/",
        error: function(){
          alert("Something Went Wrong...");
        },
        success: function(data){
          console.log(data)
          if(data.action === "like"){
            $(heart).addClass("text-danger");
          }
          else{
            $(heart).removeClass("text-danger");
          }
        }
        })
      }
  


</script>
{% endblock content %}


  

